<div class="row">
  <div class="col-md-4">
    <h1>Password reset</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <input
          name="email"
          type="email"
          placeholder="E-mail"
          class="form-control"
          required
          ngModel
          #email="ngModel">
        <div class="form-control-feedback" *ngIf="email.touched && email.errors?.required">
          Please enter an e-mail address.
        </div>
      </div>
      <div>
        <button class="btn btn-primary cp" type="submit" [disabled]="!f.valid">Request password reset</button>
      </div>
    </form>
  </div>
</div>
